[Unit]
Description=Leanote Server
After=network.target
Requires=mongod.service

[Service]
User=cheng
ExecStart=/usr/local/bin/leanote

[Install]
WantedBy=multi-user.target
